{% extends 'base.html' %}

{% block head %}
    <style>
    .job-table{
        width: 800px;
        margin: 0 auto;
    }

    .comments {
      width: 800px;
      margin:0 auto;
    }

    .comment {
      margin-bottom: 12px;
      border-bottom: 1px solid #ccc;
      min-height: 120px;
    }

    .content {
        height: 80px;
        display: inline-block;

    }

    .timestep {
      height: 24px;
      font-size: 12px;
      width: 100%;
      text-align: right;
    }

    </style>
{% endblock %}


{% block body %}
    <table class="table table-bordered job-table job-table">
        <caption><h3 style="color:#000;">{{ data_detail.job_name }}</h3></caption>
        <tbody>
            <tr>
                <td>工资：{{ data_detail.salary }}</td>
            </tr>
            <tr>
                <td>地点：{{ data_detail.location }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    简介：{{ data_detail.description }}
                </td>
            </tr>
            <tr>
                <td colspan="2"><img src="{{ data_detail.enterprise_logo }}" alt="" style="width: 100%;"></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered job-table job-table">
      <caption><h3 style="color:#000;">发布讨论</h3></caption>
      <tbody>
          <form method="post">
            {{form.hidden_tag()}}
          <tr>
              <td>{{form.body(cols=120, rows=10)}}</td>
          </tr>
          <tr>
              <td>{{form.submit()}}</td>
          </tr>
        </form>
      </tbody>
    </table>

      <div class="comments">
        {% for c in comments %}
        <div class="comment">
            <h4>{{c.author.username}}</h4>
            <div class="content">{{c.body | safe}}</div>
            <div class="timestep">{{c.timestamp}}</div>
        </div>

        {% endfor %}
      </div>

{% endblock %}
