
{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h5> Hello,
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {% else %}
        Stranger!
    {% endif %}
    </h5>
</div>
<div class="container">
    <div class="row">
    {% for enterprise in enterprises %}
          <div class="col-sm-3 col-md-3">
            <div class="thumbnail" style="height:300px;position:relative;">

              <div class="caption">
                <h4 class="text-center">{{ enterprise.name }}</h4>
                <p>{{ enterprise.profile|truncate(50) }}</p>
                <p style="position:absolute;bottom:5px;right:10px;">

                </p>
              </div>
            </div>
          </div>
    {% endfor %}
</div>
</div>
{% endblock %}

